body {
    background: conic-gradient(from -90deg at 50% 105%, white, rgb(218, 147, 215));
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    font-family: "Roboto", serif;
}

.home-container {
    width: 100%;
    max-width: 1024px;
    padding: 1rem;
    margin: auto;

    .search {
        width: 100%;
        margin-bottom: 1rem;

        input {
            max-width: 300px;
            width: 100%;
            height: 40px;
            border: none;
            border-bottom: 3px solid $secondary-color;
            background: transparent;
            font-size: 1rem;
            font-weight: 300;

            &:focus {
                outline: none;
                border-bottom: 3px solid #E26EF5;
            }
        }

        button {
            border-radius: 5px;
            margin-left: 1rem;

            &:hover {
                background-color: #E26EF5;
                border: 3px solid #E26EF5;

            }
        }
    }

    .filter {
        button {
            border-radius: 25px;
            background-color: transparent;

            &:hover {
                background-color: #E26EF5;
                border: 3px solid #E26EF5;

            }
        }
    }

}