@include medium-size {
    .body-container {

        justify-content: center;
        overflow: auto;



        .card-item {
            margin: auto;
        }

    }

    .home-container {
        .search {

            input {
                max-width: 70%;
            }

            button {
                padding: 10px;
                margin-left: 0;


            }
        }

    }
}